$white:#ffffff;
$white-cd:#CDCACA;
$white-A09:#A09F9F;
$black-00:#000000;
$black-010:#010101;
$black-1a:#1a1a1a;
$black-2e:#2e2e2e;
$black-2f:#2F2F2F;
$gray-66:#666666;
$gray-ab:#ababab;
$gray-d6:#d9d9d9;
$gray-83:#837F7F;
$gray-DA:#DADADA;
