@use "_mixins.scss" as *;
@use "_colors.scss" as *;
@use "_typography.scss" as *;
@use "_components.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: toRem(48);
    // padding: toRem(24) toRem(0) toRem(24) toRem(0);
    z-index: 5;
    color: $white;

    &.header--scroll-state {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
        background-color: rgba(97, 93, 93, 0.692); /* напівпрозий чорний фон */
        backdrop-filter: blur(5px);
    }
    &--black {
        color: $black-00;
    }
    // .header__container
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(15);
        padding-top: toRem(24);
        .header--scroll-state & {
            padding-top: 0;
        }
        // @media (width >= toEm(768)) {
        //     // padding-top: toRem(24);
        // }
    }
    // .header__logo
    &__logo {
        @include typo("h2");
        flex-shrink: 0;
        @media (width < toEm(768)) {
            position: relative;
            z-index: 3;
        }
    }
    // .header__icon
    &__icon {
    }
    // .header__menu
    &__menu {
    }

    opacity: 0;
    transform: translateY(toRem(-10));
    transition: opacity 0.4s, transform 0.4s;
    &.animate{
        opacity: 1;
        transform: translateY(toRem(0));
    }
    
}

.burger-icon {
    display: none;
    @media (width < toEm(660)) {
        display: block;
        width: toRem(30);
        height: toRem(18);
        position: relative;
        z-index: 3;

        & span,
        &::before,
        &::after {
            content: "";
            width: toRem(30);
            height: toRem(1);
            background-color: $white;
            position: absolute;
            right: 0;
        }
        &::before {
            top: 0;
            transition: top 0.1s;
            .open & {
                top: 50%;
                transform: rotate(45deg);
            }
        }
        &::after {
            bottom: 0;
            transition: bottom 0.1s;
            .open & {
                bottom: 50%;
                transform: rotate(-45deg);
            }
        }
        & span {
            top: 50%;
            translate: 0 -50%;

            .open & {
                opacity: 0;
            }
        }
        &--black {
            & span,
            &::before,
            &::after {
                background-color: $black-00;
            }
        }
    }
}
.menu {
    @media (width < toEm(660)) {
        position: fixed;
        top: 0;
        left: 100%;

        width: 100%;
        // height: 100%;
        height: 100dvh;
        background-color: $black-2e;
        z-index: 1;
        // overflow: auto;
        overflow-y: auto;
        overflow-x: hidden;
        padding: toRem(120) toRem(15) toRem(30) toRem(15);
        row-gap: toRem(20);
        transition: left 0.3s;

        &::before {
            content: "";
            width: 100%;
            height: toRem(70);
            position: fixed;
            top: 0;

            left: 100%;
            background-color: $black-1a;
            z-index: 3;
            transition: left 0.3s;
            .open & {
                left: 0;
            }
        }
        .open & {
            left: 0;
        }
        &--light {
            background-color: $white-A09;
            &::before {
                background-color: $white-cd;
            }
        }
    }
    // .menu__list
    &__list {
        display: flex;
        @include adaptiveValue("column-gap", 32, 15);
        row-gap: toRem(5);
        align-items: center;
        flex-wrap: wrap;

        @media (width < toEm(660)) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            row-gap: toRem(30);
        }
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        position: relative;
        text-transform: capitalize;
        &::after {
            content: "";
            display: block;
            width: 0;
            height: toRem(1);
            position: absolute;
            top: 100%;
            left: 50%;
            background-color: $white;
            transition:
                width 0.3s,
                left 0.3s;
        }
        &:hover::after {
            width: 100%;
            left: 0;
        }
        &--black {
            &::after {
                background-color: $black-00;
            }
        }
    }
}
