$white-00: #FFFFFF;
$white-10: #EFEFEF;
$white-20: #DEDEDE;
$white-30: #CECECE;
$white-40: #BEBEBE;
$white-50: #9D9D9D;
$white-60: #7D7D7D;

$black-70: #5C5C5C;
$black-80: #4A4A4A;
$black-90: #373737;
$black-100: #252525;
$black-110: #1C1C1C;
$black-120: #121212;
$black-bg: #0D0D0D;
